/*
 * Styling for the home page.
 */

.homepage {
  padding: 60px;
  height: 100%;
  background-image: url("/img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-size: 5em;
    font-family: Roboto, sans-serif;
    color: white;
  }
}
