/*
 * Styling for work pages.
 */


.work-page {
  background: #eef;

  p {
    font-style: italic;
  }

  .all-artwork {
    display: grid;
  }

  .all-artwork p {
    background-color: #fffa;
    color: gray;
  }

  .art-piece {
    padding: 20px;

    img {
      height: auto;
      width: 100px;
    }
  }
}
