/*
 * Styling for work pages.
 */


.work-page-container {
  background: #9ae5f6;
}

.work-page-content {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;

  p {
    font-style: italic;
  }

  .all-artwork {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .art-piece {
    padding: 20px;

    .img-container {
      position: relative;
      display: inline-block;

      img {
        display: block;
        height: auto;
        width: 200px;
      }

      .art-overlay {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: white;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        text-align: center;
      }
    }

    .img-container:hover .art-overlay {
      opacity: 0.7;
    }
  }

  .art-popup {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(200, 0, 0, 0.2);
    visibility: hidden;
  }
}
