// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output
// file in the built site.

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto/");
}

/* Base styling */

body {
  margin: 60px auto;
  width: 70%;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  background-image: url("/img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 300;
}


/* Nav styling */

nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-weight: 100;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


/* Footer styling */

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

footer p {
  font-size: 0.8em;
}
